  <row>
            <columns>
                <wrapper class="secondary-content">
                  
                    <img src="http://dev.adipurdila.com/emails/sequence.png" alt="Sequence" class="float-left custom-image" height="200" >
                    <p>Sequence.js is a CSS animation framework which you can use to create sliders, presentations, and other step-based applications. Read more about it on <a href="#">Tuts+</a>.</p>                    
                </wrapper>
                
                <wrapper class="secondary-content">
                  <img src="http://dev.adipurdila.com/emails/sequence.png" alt="Sequence" class="float-right custom-image" height="200" >
                  <p>Sequence.js is a CSS animation framework which you can use to create sliders, presentations,
                    and other step-based applications. Read more about it on 
                    and other step-based applications. Read more about it on 
                    and other step-based applications. Read more about it on 
                    <a href="#">Tuts+</a>.
                  </p>                    
              </wrapper>
            </columns>
        </row>

