<wrapper class="hero">
    <row>
        <columns small="12" large="12">
            <a href="#" class="play-video">
                <center>
                    <img src="assets/img/play-icon.png" alt="Play">
                </center>
            </a>
        </columns>
    </row>
    <row>
        <columns small="12" large="12">
            <h1 class="text-center">De Finibus Bonorum<br class="show-for-large"> &amp; Malorum</h1>
            <spacer size="30"></spacer>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <spacer size="40"></spacer>
            <center>
                <button href="#" class="radius small-expanded">Sign Up</button>
            </center>
        </columns>
    </row>
</wrapper><!-- END .hero -->