<!-- <spacer size="16"></spacer> -->
<wrapper class="footer">
    <container>
		<row>
			<columns small="4" large="5">
				<a href="#" class="facebook social"><img src="assets/img/social-facebook.png" alt="Facebook" class="float-right"></a>
			</columns>
			<columns small="4" large="2">
				<a href="#" class="twitter social"><img src="assets/img/social-twitter.png" alt="Twitter" class="float-center"></a>
			</columns>
			<columns small="4" large="5">
				<a href="#" class="youtube social"><img src="assets/img/social-youtube.png" alt="YouTube" class="float -left"></a>
			</columns>
		</row>
		<row>
			<columns small="12" large="12">
				<center>
				  	<menu>
				    	<item href="#">Link 1</item>
				    	<item href="#">Link 2</item>
				    	<item href="#">Link 3</item>
				    	<item href="#">Link 4</item>
				  	</menu>
				</center>
			</columns>
		</row>
	</container>
</wrapper><!-- END .footer -->